<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0", name="viewport">
    <link href="to_do.css" rel = "stylesheet">
    <title>To-Do List App</title>   
</head>
<body>

<h1>To-Do List App</h1>

<form action="">
    <div>
        <label for="title">Task Title</label>
        <input type="text" name="title" placeholder="Enter To-do task...">
        <br>
        <button type="submit">Add</button>
    </div>
</form>

</body>
</html>
